.container {
    width: 70%;
    margin: 100px;
    font-size: 32px;
    margin-top: 0.5rem;
    justify-content: center;
    content: justify;
    margin-bottom: 0.5rem;
    padding: 1rem;
}

.content{
    
    align-items: center;
    font-size: 14px;
    justify-content: center;
    margin-top: 0.5rem;
    }
tr{
    justify-content: end;
}

.mais{
    display: none;
}
mat-card{
    justify-content: space-between;
}
.seus-fretes {  
    width: 119%;
    margin-top: 0.5rem;  
    margin: auto;
    display: flex;
   justify-content: center;
}

p{
    text-align: justify;
    justify-content: center;
    margin-bottom: 0;
    margin: 2rem;
    margin-top: 0;
}
