
  <div class="container">
      <button class="navegarParaFinalizados()" class="mat-elevation-z8" mat-stroked-button color="primary">
        <div fxFlex="value%" fxFlexAlign="center">
        <a href="http://localhost:4200/finalizados"> Histórico de Fretes</a> 
      </div>
      </button>  
      <button routerLink="create" class="novo-frete mat-elevation-z8" mat-stroked-button color="primary">CRIAR NOVO FRETE</button>
      <p></p>
      <div class="mat-toolbar" fxLayoutAlign="center center">
        <h1>
        <div  class="fretes mat-elevation-z8" fxFlex="value%" fxFlexAlign="center" >
          &nbsp; SEUS FRETES:
        </div>
        </h1>
    </div>
      <div class="content" *ngFor="let item of list">
          <table> 
        <mat-card class="mat-elevation-z8">
    <tr>
        <td><h1><p>FreteId</p></h1>
          <mat-card-header>
            <mat-card-title>&nbsp;&nbsp;&nbsp;&nbsp;{{item.id}}</mat-card-title>
          </mat-card-header> 
          </td>

       <td><h1><p>Valor</p></h1>
        <mat-card-header>
         <mat-card-title>{{item.valor}}</mat-card-title>
        </mat-card-header> 
        </td>

       <td><h1><p>Descrição</p></h1>
      <mat-card-header>
       <mat-card-title>{{item.descricao}}</mat-card-title>
      </mat-card-header> 
      </td>
  
      <td><h1><p>Origem</p></h1>
        <mat-card-header>
         <mat-card-title>{{item.origem}}</mat-card-title>
        </mat-card-header> 
        </td>

        <td><h1><p>Destino</p></h1>
          <mat-card-header>
           <mat-card-title>{{item.destino}}</mat-card-title>
          </mat-card-header> 
          </td>

      <td><h1><p>Data</p></h1>
        <mat-card-header>
          <mat-card-title>{{item.dataOcorrencia}}</mat-card-title>
          </mat-card-header> 
      </td>
  
    
   
      
             <td><h1><p>Status</p></h1>
                <mat-card-header>
                    <mat-card-title>{{item.status}}</mat-card-title>
                    
                </mat-card-header> 
                </td>
    </tr>           
                <mat-divider></mat-divider>
           <form >      
          <td><h1><p font-size="18px">Ocorrências</p></h1>
      <div>
        <TEXTAREA id="result" COLS=90 ROWS=5 NAME="comentario"> {{item.ocorrencia}} </TEXTAREA>
      </div>
      <div class="actions">
        
      
        <button (click)="finalizar(item)"  mat-stroked-button color="primary">
          Concluir Entrega de Frete  
       </button>
       <button routerLink="update/{{ item.id }}" mat-stroked-button color="primary">
        Atualizar Ocorrências
     </button>
        <button (click)="delete(item.id)"  mat-stroked-button color="primary">
           Deletar frete
      </button>
      
        <script>
          function salvar() {
              // Check browser support
              if (typeof(Storage) !== "undefined") {
                  // Store
                  localStorage.setItem("text", document.getElementById("result").value);
      
              } else {
                  document.getElementById("result").innerHTML = "Local Storage não suportado";
              }
          }
           // Retrieve
              document.getElementById("result").innerHTML = localStorage.getItem("text");
          </script>
      </div>   
          </td>
      </form>  
    
  
  
      </mat-card>      
  </table><!---->
    </div>
        
  </div><!--div do conteiner-->

  